@import '../../index.css';

.inputContainer {
    display: flex;
    width: 100%;
    align-items: center;
    position: relative;
    justify-content: center;
    margin-bottom: 20px;
    font-family: 'Montserrat';
}

.passIcon{
    position: absolute;
    right: 0;
    margin-right: 20px !important;
}