@import '../../index.css';

.nav {
    width: 20%;
    background-color: var(--background-light);
    height: 100vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    float: left;
    padding: 20px;
    margin-right: 20px;
    position: fixed;
    left: 0; 
}

.navItem{
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
}

.logo {
    margin: 0 auto;
    margin-bottom: 0px;
}

li {
    font-family: "Montserrat", sans-serif;
    color: var(--primary-color);
    padding: 20px;

}

li:hover {
    color: var(--primary-light);
    border-radius: 7px;
    transition: 0.2s ease-in-out;
}

ul{
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}