.alertMiniModal{
    width: auto;
    height: 25px;
    background-color: salmon;
    color: white;
    border-radius: 5px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 10px 10px 27px 0px rgba(0,0,0,0.18);
    -webkit-box-shadow: 10px 10px 27px 0px rgba(0,0,0,0.18);
    -moz-box-shadow: 10px 10px 27px 0px rgba(0,0,0,0.18)
}